services:
  fastapi:
    image: fastapi:0.0.1
    restart: unless-stopped
    deploy:
      mode: replicated
      replicas: 1
      placement: 
        constraints: 
          - node.role == manager
      resources:
        limits: 
          cpus: "1"
          memory: 1024M
      labels:
       - traefik.enable=true
       - traefik.http.routers.fastapi.rule=Host(`fastapi.clickmix.digital`)
       - traefik.http.routers.fastapi.entrypoints=websecure
       - traefik.http.routers.fastapi.tls.certresolver=letsencryptresolver
       - traefik.http.routers.fastapi.service=fastapi
       - traefik.http.services.fastapi.loadbalancer.server.port=8000
    networks:
      - network_public

networks:
  network_public:
    name: network_public
    external: true